# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\8vo Semestre\IA\Practica 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
